<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--引入各个IoC容器-->

    <import resource="classpath:xmls/xml_autowired.xml"/>

    <import resource="classpath:xmls/di_setter.xml"/>

    <import resource="classpath:xmls/di_constructor.xml"/>

    <import resource="classpath:xmls/beanTag_inheritance.xml"/>

    <import resource="classpath:xmls/property_placeholder.xml"/>

    <import resource="classpath:xmls/register.xml"/>

</beans>